{% block head %}
{% block title %}
    <title>Symfony</title>
{% endblock %}
    <script src="/js/jquery.js"></script>
    <script src="/js/ajax.js"></script>
{% endblock %}
{% block body %}
    <table border="1">
        <th id="sortByName">Краткое наименование</th>
        <th id="sortByPrice">Цена последней сделки</th>
        <th id="sortByChanges">Изменение цены относительно последней цены предыдущего дня</th>
        <th id="sortByVolume">Объём сделок</th>
        <th id="sortByLastUpdate">Время последнего обновления</th>
        {% for xmls in xml %}
            <tr>
                <td>{{ xmls.secname }}</td>
                <td>{{ xmls.prevprice }}</td>
                <td>{{ xmls.changes }}</td>
                <td>{{ xmls.voltoday }}</td>
                <td>{{ xmls.updatetime }}</td>
            </tr>
        {% endfor %}
    </table>
    <button class="prev">Назад</button>
    <button class="next">Далее</button>
    <script>
        function replaceTable(columns,rows,htm) {
            for (i = 1; i <= columns; i++)
            {
                for (j = 2; j <= rows+1; j++)
                {
                    $(document).find('tr:nth-child('+j+') > td:nth-child('+i+')').html($(htm).find('tr:nth-child('+j+') > td:nth-child('+i+')').html());
                }
            }
        }
        var sort;
        if (sort === undefined)
            sort = 'voltoday';
        var page;
        if (page === undefined)
            page = 0;
        $('.prev').click(function () {
                $.ajax({
                    type: "GET",
                    url: "/xml/"+(--page)+'/'+sort,
                    dataType: "html",
                    success: function (htm) {
                        replaceTable(5,10,htm);
                    },
                    error : function() {
                        page = 0;
                    }
                });
            });
        $('.next').click(function () {
                $.ajax({
                    type: "GET",
                    url: "/xml/"+(++page)+'/'+sort,
                    dataType: "html",
                    success: function (htm) {
                        replaceTable(5,10,htm);
                    },
                    error: function() {
                        alert(1);
                    }
                });
            });
        $('#sortByName').click(function () {
            $.ajax({
                type: "GET",
                url: "/xml/"+page+"/secname",
                dataType: "html",
                success: function (htm) {
                    replaceTable(5,10,htm);
                    sort = 'secname';
                },
                error: function() {
                    alert(1);
                }
            });
        });
        $('#sortByPrice').click(function () {
            $.ajax({
                type: "GET",
                url: "/xml/"+page+"/prevprice",
                dataType: "html",
                success: function (htm) {
                    replaceTable(5,10,htm);
                    sort = 'prevprice';
                },
                error: function() {
                    alert(1);
                }
            });
        });
        $('#sortByChanges').click(function () {
            $.ajax({
                type: "GET",
                url: "/xml/"+page+"/changes",
                dataType: "html",
                success: function (htm) {
                    replaceTable(5,10,htm);
                    sort = 'changes';
                },
                error: function() {
                    alert(1);
                }
            });
        });
        $('#sortByVolume').click(function () {
            $.ajax({
                type: "GET",
                url: "/xml/"+page+"/voltoday",
                dataType: "html",
                success: function (htm) {
                    replaceTable(5,10,htm);
                    sort = 'voltoday';
                },
                error: function() {
                    alert(1);
                }
            });
        });
        $('#sortByLastUpdate').click(function () {
            $.ajax({
                type: "GET",
                url: "/xml/"+page+"/updatetime",
                dataType: "html",
                success: function (htm) {
                    replaceTable(5,10,htm);
                    sort = 'updatetime';
                },
                error: function() {
                    alert(1);
                }
            });
        });
    </script>
{% endblock %}